<mat-drawer-container class="example-container">
  <mat-drawer mode="side" [opened]="leftmenuActive" layout-align="center" >
    @for (route of mainRoutes; track route.route) {
      <a class="nav-button" mat-stroked-button [routerLink]="route.route">
        <mat-icon aria-hidden="false" attr.aria-label="{{route.title}}" fontIcon="{{route.icon}}"></mat-icon>
        <span class="left-nav-button-text">{{route.title}}</span>
      </a>
    }
  </mat-drawer>
  <mat-drawer-content>
    <app-topmenu (setLeftmenuActive)="leftmenuActive=$event"></app-topmenu>
    <div class="custom-container">
      <router-outlet />
    </div>
  </mat-drawer-content>
</mat-drawer-container>
