<h2>De Øvede</h2>
<h3>
  Dette hold er perfekt for dig, der allerede
  har styr på at navigere rundt på en computer
  og ønsker at videreudvikle dine færdigheder.
  Øvede-holdet er primært målrettet aldersgruppen
  13-17 år, og her får du mulighed for at udfordre
  dig selv med nye og spændende projekter.
</h3>

<h2>Begynderholdet</h2>
<h3>
  Begynderholdet er for dig, der er klar til at
  lære og blive mere sikker i at bruge forskellige
  computerprogrammer. Vi hjælper dig med at finde
  de rigtige knapper og forstå den rette logik i
  tekniske sammenhænge. Holdet er ideelt for
  aldersgruppen 7-12 år, og du får støtte til at
  udvikle dine færdigheder i et trygt og sjovt miljø.
  Her får du mulighed for at skabe dine egne sjove
  projekter og lære gennem praktiske oplevelser.
</h3>
