<h1>Vores mission</h1>

<p>
  Vores mission i Coding Pirates Hillerød er at inspirere børn og unge
  til at udforske og skabe med teknologi gennem sjov, leg og fællesskab.
  Vi ønsker at fremme nysgerrighed, kreativitet og samarbejde ved at tilbyde
  hands-on undervisning i programmering, teknologi og innovation. Vores mål
  er at skabe et trygt og inkluderende miljø, hvor alle medlemmer - uanset
  forudsætninger - kan udvikle deres IT-færdigheder og realisere deres egne
  projektidéer. Vi tror på, at morgendagens tech-talenter formes i dag gennem
  leg og læring.
</p>
