<h1>Vores mission</h1>

<p>
  Vi er en frivillig organisation dedikeret til at inspirere og uddanne børn i
  teknologiens verden. Vores mission er at skabe en inkluderende og støttende
  læringsmiljø, hvor børn fra alle baggrunde kan opdage deres passion for
  programmering og teknologi. Gennem interaktive workshops, sjove projekter og
  samarbejde med mentorer ønsker vi at give børn de nødvendige færdigheder og
  selvtillid til at forme fremtidens digitale landskab. Vi tror på, at alle børn
  har potentialet til at blive morgendagens innovatorer, og vi stræber efter at
  tænde deres nysgerrighed og kreativitet i en stadig mere teknologidrevet
  verden.
</p>
