<p>
  Velkommen til Coding Pirates Hillerød – en nystartet afdeling, der slog dørene op i foråret 2024!
  Hos os handler det om at skabe sjove, kreative IT-oplevelser for børn og unge i alderen 7-17 år.
  Vi tilbyder undervisning i alt fra Python-programmering, webudvikling, Microbit til coaching,
  så børnene kan føre deres egne vilde projektidéer ud i livet.
  Vi har en imponerende samling udstyr, der er klar til at blive brugt til alt, hvad fantasien kan skabe.
  Kom med i fællesskabet – hvor vi koder, bygger og hygger os sammen!
</p>
