<div class="container">
  <h1>Kontakt venligst formanden Jonas Bak Phillipson for at komme på venteliste</h1>

  <p>
    Som frivillig i Coding Pirates Hillerød behøver du ikke at kunne kode.
    Det vigtigste er, at du har lyst til at hjælpe børnene og være med til
    at skabe en sjov og lærerig oplevelse. Har du en interesse for teknologi
    eller lyst til at lære noget nyt, er du allerede godt på vej. Hos os
    handler det om at skabe nysgerrighed og give børnene mod på at udforske
    teknologiens verden – og det kan du være med til, uanset om du har
    erfaring med at kode eller ej.
  </p>

  <p class="formand-info">
    <span>Jonas telefon: 42606549 </span>
    <span>Jonas email: hilleroed&#64;codingpirates.dk</span>
    <span>Jonas <a href="https://www.facebook.com/jonasbak.phillipson">facebook</a> profil</span>
    <span>Coding Pirates <a href="https://www.facebook.com/groups/789022063289231">Facebookgruppe</a></span>
  </p>

  <h2>Som frivillig kan kan man helt gratis få 1 barn med i Coding Pirates Hillerød
    <br>
    Hvis man vil have 2 eller flere børn med til klubaftener koster det anmindelig medlemspris.
    </h2>
  <h2>
    Dog må man som frivillig få alle sine børn ind uden at stå i kø, hvis man selv har kapacitet til at 'hjælpe' dem
  </h2>
</div>
