<p>
  Coding Pirates Hillerød er en lokalafdeling af Coding Pirates Danmark,
  der blev stiftet i foråret 2024 med målet om at bringe kreativ IT-undervisning
  og teknologiske legemuligheder til børn og unge i Hillerød. Som en del af den
  landsdækkende Coding Pirates-bevægelse, der startede i 2014, bygger vi videre
  på visionen om at gøre teknologisk læring sjov og tilgængelig for alle. Med
  inspiration fra Coding Pirates' mission om at fremme kreativitet og innovation
  hos børn gennem programmering og teknologi, er vi her for at støtte den næste
  generation af digitale opdagelsesrejsende.
</p>
