<h1>Vi søger aktivt finansiering så vores flittige pirataspiranter kan få adgang til det rette udstyr</h1>
<h2>Hjælp med at styrke fremtidens kodere</h2>

<p>
    Hos Coding Pirates Hillerød brænder vi for at give den næste generation de nødvendige færdigheder til at navigere i den digitale verden.
    Vi tror på, at hvert barn skal have muligheden for at udforske teknologi, udvikle deres kreativitet og opbygge selvtillid gennem praktiske kodningsoplevelser.
</p>

<h3>Din støtte hjælper os med at:</h3>
<ul>
    <li>Skaffe materialer og udstyr til vores workshops og events</li>
    <li>Tilbyde stipendier til børn fra udsatte familier</li>
    <li>Afholde engagerende events, hvor unge kan samarbejde og innovere</li>
    <li>Løbende forbedre vores undervisningsprogrammer for at sikre høj kvalitet i vores undervisning</li>
</ul>

<h3>Sådan kan du hjælpe</h3>
<p>
    Du kan gøre en forskel ved at donere penge, udstyr eller ydelser. Hver bidrag, uanset størrelse, bringer os tættere på at nå flere unge og udvide vores indflydelse i lokalsamfundet.
</p>

<h3>Tal med din virksomhed</h3>
<p>
    Er fan af Coding Pirates Hillerød? eller forælder til et barn, der deltager i vores sessioner, eller en frivillig? En fantastisk måde at støtte os på er ved at tale med din arbejdsgiver om at donere udstyr eller ressourcer.
    Mange virksomheder er åbne for at støtte uddannelsesinitiativer som vores, og du kan være med til at åbne døren til disse værdifulde partnerskaber.
</p>
