<h1>Begynder holdet</h1>
<div class="names">
  <span>
  Mads Vium Asbjørn
  </span>
  <span>
  Thomas Femlev
  </span>
  <span>
  Mads Nielsen
  </span>
  <span>
  Klaus Østergren
  </span>
  <span>
  Reza
  </span>
  <span>
  Jonas K
  </span>
</div>

<h1>Øvede holdet</h1>
<div class="names">
  <span>
    Jonas Bak Phillipson 👑
    {{hej}}
    </span>
    <span>
    Kenneth Hansen
    </span>
    <span>
    Daniel Massoudyan
    </span>
    <span>
    Simon Tilgreen Mortensen
    </span>
    <span>
    Klaus Østergren Nielsen
    </span>
    <span>
    Margrethe Thusholt
    </span>
    <span>
    Jonas Lund
    </span>
    <span>
    Daniel A
    </span>
    <span>
    Lasse Drongesen
    </span>
</div>

